---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: US-ASCII
      string: Body=Test+message&From=8562830298&To=4843782551
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMzOWE3YTk4NWYxOTVkYjUxMmE4OGI5M2NhMjg4NDA1NzpjMDA3YjYxMjNkOTYyZGQ1MzliY2JkYWI4NzkwZWYzYg==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.087'
      Twilio-Request-Id:
      - RQ136670be77674aacb11b2493208c67b1
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21212, "message": "The ''From'' number 8562830298 is not a
        valid phone number, shortcode, or alphanumeric sender ID.", "more_info": "https://www.twilio.com/docs/errors/21212",
        "status": 400}'
  recorded_at: Tue, 27 Sep 2016 23:30:04 GMT
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: US-ASCII
      string: Body=Test+message&From=8562830298&To=%5B%224843782551%22%5D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMzOWE3YTk4NWYxOTVkYjUxMmE4OGI5M2NhMjg4NDA1NzpjMDA3YjYxMjNkOTYyZGQ1MzliY2JkYWI4NzkwZWYzYg==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.072'
      Twilio-Request-Id:
      - RQb941da8a005f4af886ca6e8e0ff4f344
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21212, "message": "The ''From'' number 8562830298 is not a
        valid phone number, shortcode, or alphanumeric sender ID.", "more_info": "https://www.twilio.com/docs/errors/21212",
        "status": 400}'
  recorded_at: Tue, 27 Sep 2016 23:30:05 GMT
recorded_with: VCR 3.0.3
