---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: US-ASCII
      string: Body=hi&From=8327722065&To=11111
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMzOWE3YTk4NWYxOTVkYjUxMmE4OGI5M2NhMjg4NDA1NzpjMDA3YjYxMjNkOTYyZGQ1MzliY2JkYWI4NzkwZWYzYg==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.107'
      Twilio-Request-Id:
      - RQ3d3791c0fc9a4953b4bcf8859b486664
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number 11111 is not a valid
        phone number.", "more_info": "https://www.twilio.com/docs/errors/21211", "status":
        400}'
  recorded_at: Tue, 27 Sep 2016 16:27:50 GMT
recorded_with: VCR 3.0.3
