<h1>All Contacts</h1>
<%= link_to "Add a contact", new_contact_path, id: "new_contact_link", remote: true %>

<div id="create-contact">
  <%= render 'contact' %>
</div>

<br>
<%= link_to "See all messages", messages_path %>
